<img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png"></img>
<h1><%= @user.username %></h1>
<h3><%= @user.name %></h3>
<h6><%= @user.description %></h6>
<h6>User Since: <%= @user.created_at.month %>.<%= @user.created_at.day %>.<%= @user.created_at.year %><h6>
<%= link_to "Edit Your Profile", edit_user_path(@user) %>
