<div class="container">
  <div class="newProjectLeft">
    <h1> Setup your bidabl project below:</h1>

    <%= simple_form_for @project, :html => {:multipart => true} do |f| %>
      <%= f.input :title %>
      <%= f.input :description, as: :text %>
      <%= f.input :category_id, collection: Category.all %>
      <%= f.input :city_id, collection: State.all, as: :grouped_select, group_method: :cities, label: 'Location' %>
      <%= f.input :pay %>
      <%= f.input :pay_type, collection: ["per hour", "per day", "total"], label: 'Pay Rate' %>
      <%= f.label "Upload an image" %>
      <%= f.file_field :image %>
      <%= f.button :submit, "Enter" %>
    <% end %>
  </div>

  <div class="newProjectRight">
    <h1>Tips:</h1>
    <h3>Describe the project in as much detail as possible. Remember to include details such as project scope and timeline.</h3>
  </div>
</div>
