<div class="profileContainer">
  <div class="profileLeft">
    <h1><%= @project.title %></h1>
    <h3>$ <%= @project.pay %> <%= @project.pay_type %></h3>
    <h4>Posted by <%= link_to @project.user.username, user_path(@project.user_id) %> </h4>
    <h4>Posted on <%= @project.created_at.month %>.<%= @project.created_at.day %>.<%= @project.created_at.year %></h4>
  </div>
  <div class="profileRight">
    <h4><%= link_to "#{@project.city.state.name}", root_path %> >>
        <%= link_to "#{@project.city.name}", city_path %> >>
        <%= link_to "#{@project.category.name}", category_path(@project.category.id) %>
    </h4>
    <br>
    <h5><%= @project.description %></h5>
  </div>
  <div class="profileFarRight">
    <%= link_to "Bid on this Project" %>
  </div>
</div>




