<div class="profileContainer">
  <div class="profileLeft">
    <% if @project.image.blank? == false %>
      <%= image_tag("#{@project.image_url.to_s}") %>
    <% end %>
    <h1><%= @project.title %></h1>
    <% if @project.pay.blank? %>
      <h3>All Bids Welcome</h3>
    <% else %>
      <h3>$ <%= @project.pay %> <%= @project.pay_type %></h3>
    <% end %>
    <h4>Posted by <%= link_to @project.user.username, user_path(@project.user_id) %> </h4>
    <h4>Posted on <%= @project.created_at.month %>.<%= @project.created_at.day %>.<%= @project.created_at.year %></h4>
  </div>
  <div class="profileRight">
    <h4><%= link_to "#{@project.city.state.name}", root_path %> >>
        <%= link_to "#{@project.city.name}", city_path(@project.city) %> >>
        <%= link_to "#{@project.category.name}", category_path(@project.category.id) %>
    </h4>
    <br>
    <h5><%= @project.description %></h5>
  </div>
  <div class="profileFarRight">
    <% if @project.accepted_bid_id.blank? %>
      <h4>Responses: <span class="red"><%= @comments.length %></span></h4>
      <%= link_to "Bid on this Project", :anchor => 'bid_form' %>
    <% else %>
      <h4 class="red">This project is now closed to new bids.</h4>
    <% end %>
  </div>
</div>

<div class = "profileContainer">
  <div class = "profileHeaderFullWidth">
    <h2>Bids</h2>
  </div>
  <% if @comments.length == 0 %>
    <div class="profileFullWidth">
      There are no bids on this project yet.
    </div>
  <% else %>
    <ul><% @comments.each do |comment| %>
      <div class="profileFullWidth">
        <li>
          <% if @project.accepted_bid_id.blank? && @project.user == current_user %>
            <h4 class="float"><%= link_to 'Accept Bid', accepted_bid_project_path(@project, :project => { :accepted_bid_id => comment.id}), :method => :put, :confirm => "Are you sure you want to accept this bid?" %></h4>
          <% elsif @project.accepted_bid_id.blank? && @project.user != current_user %>
            <h4 class="float">This bid is pending.</h4>
          <% elsif @project.accepted_bid_id == comment.id %>
            <h4 class="float green">This bid has been accepted.</h4>
          <% else %>
            <h4 class="float red">This bid has been rejected.</h4>
          <% end %>
          <h5><%= comment.content %></h5>
          <h4> Bid submitted by <%= link_to comment.user.username, user_path(comment.user) %> <%= time_ago_in_words(comment.created_at) %> ago</h4>
          </h4>
          <% if comment.user == current_user %>
            <%= link_to 'Edit' %> |
            <%= link_to 'Delete' %>
          <% end %>
        </li>
      </div>
    <% end %></ul>
  <% end %>
  <%if @project.accepted_bid_id.blank? %>
    <div class = "profileHeaderFullWidth">
      <h2><a id="bid_form">Submit a bid along with any comments/questions below:</a></h2>
    </div>
    <div class="profileFullWidth">
      <%= simple_form_for [@project, @comment] do |f| %>
        <%= f.input :content, as: :text, label: 'Your bid' %>
        <%= f.button :submit, "Submit Bid" %>
      <% end %>
    </div>
  <% end %>
</div>



