<h1><%= @project.title %></h1>
<h3>Posted by: <%= link_to @project.user.username, user_path(@project.user_id) %> </h3>
<h3><%= @project.description %></h3>
<h3>$ <%= @project.pay %> <%= @project.pay_type %></h3>

<h3><%= @project.category.name %></h3>


