<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Bidabl</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li id="logo">bidabl</li>
          <% if !logged_in? %>
            <% unless controller_name == "users" %>
              <li class="rightNav">
                <div class="modal">
                  <label for="modal-1">
                    <div class="modal-trigger">Sign Up</div>
                  </label>
                  <input class="modal-state" id="modal-1" type="checkbox" />
                  <div class="modal-fade-screen">
                    <div class="modal-inner">
                      <div class="modal-close" for="modal-1"></div>
                      <h1>Sign Up</h1>
                      <div id="signUp"><%= render partial:'users/sign_up_form', locals: { user: User.new } %></div>
                    </div>
                  </div>
                </div>
              </li>
            <% end %>
            <% unless controller_name == "user_sessions" %>
              <li class="rightNav">
                <div class="modal">
                  <label for="modal-2">
                    <div class="modal-trigger">Sign In</div>
                  </label>
                  <input class="modal-state" id="modal-2" type="checkbox" />
                  <div class="modal-fade-screen">
                    <div class="modal-inner">
                      <div class="modal-close" for="modal-2"></div>
                      <h1>Sign Up</h1>
                      <div id="signIn"><%= render partial:'user_sessions/sign_in_form', locals: { user: User.new } %></div>
                    </div>
                  </div>
                </div>
              </li>
            <% end %>
          <% else %>
            <li class="rightNav">
              <%= link_to "Sign Out", user_session_path, method: :delete %>
            </li>
          <% end %>
        </ul>
      </nav>
    </header>
    <p class="notice">
      <%= notice %>
    </p>
    <p class="alert">
      <%= alert %>
    </p>
    <%= yield %>
  </body>
</html>
